.footer {
	@apply flex w-full text-white py-12;
	/* height: 74px; */
}

.footer-content {
	@apply flex flex-col;
}

.infos {
	@apply flex items-start;
}

.info {
	@apply flex flex-col mx-4;
	flex: 1;
}
.info > span {
	@apply mb-7 font-semibold;
}
.info > img {
	@apply mb-7;
}

.copyright-social {
	@apply flex justify-between items-center;
}

.copyright {
	@apply flex items-center;
	flex: 1;
}
.copyright > img {
	@apply pr-7;
}

.social {
	@apply flex justify-between;
}
.social > img {
	@apply mx-4;
}
.social > img:last-of-type {
	@apply mr-0;
}

.link-menu {
	@apply ml-2 text-white font-normal;
	margin-left: 35px;
}

.link-menu.active, .link-menu:hover {
	@apply font-semibold;
}