.home-d {
	@apply absolute bottom-24 -left-60 md:block hidden;
	width: 400px;
	z-index: -50;
}

.home-hero {
	@apply absolute bottom-6 right-0 lg:-right-4 md:block hidden;
	width: 600px;
	z-index: -50;
}