.home-d {
	@apply absolute bottom-24 -left-60 md:block hidden;
	width: 400px;
}

.home-hero {
	@apply absolute bottom-6 right-0 lg:-right-4 md:block hidden;
	width: 600px;
	z-index: -50;
}

.why-dellub,
.services-image {
	@apply absolute bottom-0 top-0 right-0 lg:right-0 md:flex hidden;
}
.why-dellub img {
	height: 630px;
}

.why-dellub-item {
	@apply flex flex-col md:flex-row items-center md:items-start pb-10 md:pb-20 relative;
}
.why-dellub:last-of-type {
	@apply pb-20 md:pb-0;
}
.why-dellub-image {
	@apply mr-0 mb-7 md:mr-5 md:mb-0;
	width: 70px;
}
.why-dellub-title {
	@apply mb-3 md:mb-2 block;
}
.why-dellub-dots {
	@apply absolute bottom-4 left-9 md:block hidden;
}
.why-dellub-item:last-of-type .why-dellub-dots {
	@apply hidden;
}

.services-item-image {
	@apply mr-0 mb-7 md:mr-5 md:mb-0;
	width: 36px;
}

.process-dot-custom {
	@apply absolute top-0 bottom-0 -right-7 h-full flex items-center justify-center;
	z-index: 10;
}
.process-dot-custom div {
	@apply flex items-center justify-center bg-white rounded-full;
	width: 52px;
	height: 52px;
}
.process-dot-custom svg {
	@apply fill-current text-primary;
}

.number {
	line-height: 71px;
	background: linear-gradient(90deg, #4B74EB 1.9%, #9BB4FF 54.7%, #9BB4FF 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.slick-track,
.slick-slider,
.slick-list,
.slick-slide,
.slick-slide > div {
	@apply min-h-full;
}
.slick-slide > div,
.slick-track {
	@apply flex;
}

.slick-slide {
	height: auto;
}

.slick-dots {
	@apply -bottom-10 !important;
}

.slick-dots li {
	width: 10px !important;
	height: 10px !important;
}

.slick-dots button::before {
	content: '' !important;
	width: 10px !important;
	height: 10px !important;
	border-radius: 100% !important;
	@apply bg-gray-300 !important
}
.slick-dots .slick-active button::before {
	background: linear-gradient(90deg, #4B74EB 1.9%, #9BB4FF 54.7%, #9BB4FF 100%) !important;
}
